<a href="https://colab.research.google.com/github/nehit210/EDA-on-sports-dataset/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['figure.figsize']=(15,9)

In [4]:
matches=pd.read_csv("/content/matches.csv")
deliveries=pd.read_csv("/content/deliveries.csv")

In [5]:
matches.shape

(756, 18)

In [6]:
deliveries.shape

(179078, 21)

In [7]:
matches.head(10)

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN
5   6    2017  Hyderabad  ...      A Deshmukh       NJ Llong     NaN
6   7    2017     Mumbai  ...     Nitin Menon      CK Nandan     NaN
7   8    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
8   9    2017       Pune  ...     AY Dandekar         S Ravi     NaN
9  10    2017     Mumbai  ...     Nitin Menon      CK Nandan     NaN

[10 rows x 18 columns]

In [8]:
deliveries.head(10)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN
5         1       1  ...            NaN     NaN
6         1       1  ...            NaN     NaN
7         1       1  ...            NaN     NaN
8         1       1  ...            NaN     NaN
9         1       1  ...            NaN     NaN

[10 rows x 21 columns]

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [12]:
ipl_data= pd.merge(deliveries,matches,left_on='match_id',right_on='id')
ipl_data.head(10)

   match_id  inning         batting_team  ...      umpire1   umpire2  umpire3
0         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
1         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
2         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
3         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
4         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
5         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
6         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
7         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
8         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
9         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN

[10 rows x 39 columns]