<a href="https://colab.research.google.com/github/nehit210/EDA-on-sports-dataset/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
plt.rcParams['figure.figsize']=(15,9)

In [5]:
matches=pd.read_csv("/content/matches.csv")
deliveries=pd.read_csv("/content/deliveries.csv")

In [6]:
matches.shape

(756, 18)

In [7]:
deliveries.shape

(31012, 21)

In [8]:
matches.head(10)

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN
5   6    2017  Hyderabad  ...      A Deshmukh       NJ Llong     NaN
6   7    2017     Mumbai  ...     Nitin Menon      CK Nandan     NaN
7   8    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
8   9    2017       Pune  ...     AY Dandekar         S Ravi     NaN
9  10    2017     Mumbai  ...     Nitin Menon      CK Nandan     NaN

[10 rows x 18 columns]

In [9]:
deliveries.head(10)

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN
5         1       1  ...            NaN     NaN
6         1       1  ...            NaN     NaN
7         1       1  ...            NaN     NaN
8         1       1  ...            NaN     NaN
9         1       1  ...            NaN     NaN

[10 rows x 21 columns]

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [11]:
ipl_data= pd.merge(deliveries,matches,left_on='match_id',right_on='id')
ipl_data.head(10)

   match_id  inning         batting_team  ...      umpire1   umpire2  umpire3
0         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
1         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
2         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
3         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
4         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
5         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
6         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
7         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
8         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
9         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN

[10 rows x 39 columns]

In [12]:
ipl_data.drop(["id"],axis=1,inplace=True)
ipl_data.head()

   match_id  inning         batting_team  ...      umpire1   umpire2  umpire3
0         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
1         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
2         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
3         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN
4         1       1  Sunrisers Hyderabad  ...  AY Dandekar  NJ Llong      NaN

[5 rows x 38 columns]

In [13]:
ipl_data.set_index("match_id")

          inning           batting_team  ...         umpire2  umpire3
match_id                                 ...
1              1    Sunrisers Hyderabad  ...        NJ Llong      NaN
1              1    Sunrisers Hyderabad  ...        NJ Llong      NaN
1              1    Sunrisers Hyderabad  ...        NJ Llong      NaN
1              1    Sunrisers Hyderabad  ...        NJ Llong      NaN
1              1    Sunrisers Hyderabad  ...        NJ Llong      NaN
...          ...                    ...  ...             ...      ...
134            1  Kolkata Knight Riders  ...  TH Wijewardene      NaN
134            1  Kolkata Knight Riders  ...  TH Wijewardene      NaN
134            1  Kolkata Knight Riders  ...  TH Wijewardene      NaN
134            1  Kolkata Knight Riders  ...  TH Wijewardene      NaN
134            1  Kolkata Knight Riders  ...  TH Wijewardene      NaN

[31012 rows x 37 columns]

In [14]:
ipl_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31012 entries, 0 to 31011
Data columns (total 38 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          31012 non-null  int64
 1   inning            31012 non-null  int64
 2   batting_team      31012 non-null  object
 3   bowling_team      31012 non-null  object
 4   over              31011 non-null  float64
 5   ball              31011 non-null  float64
 6   batsman           31011 non-null  object
 7   non_striker       31011 non-null  object
 8   bowler            31011 non-null  object
 9   is_super_over     31011 non-null  float64
 10  wide_runs         31011 non-null  float64
 11  bye_runs          31011 non-null  float64
 12  legbye_runs       31011 non-null  float64
 13  noball_runs       31011 non-null  float64
 14  penalty_runs      31011 non-null  float64
 15  batsman_runs      31011 non-null  float64
 16  extra_runs        31011 non-null  float64
 17  total_runs        31011 non-null  float64
 18  player_dismissed  1607 non-null   object
 19  dismissal_kind    1607 non-null   object
 20  fielder           1154 non-null   object
 21  season            31012 non-null  int64
 22  city              31012 non-null  object
 23  date              31012 non-null  object
 24  team1             31012 non-null  object
 25  team2             31012 non-null  object
 26  toss_winner       31012 non-null  object
 27  toss_decision     31012 non-null  object
 28  result            31012 non-null  object
 29  dl_applied        31012 non-null  int64
 30  winner            31012 non-null  object
 31  win_by_runs       31012 non-null  int64
 32  win_by_wickets    31012 non-null  int64
 33  player_of_match   31012 non-null  object
 34  venue             31012 non-null  object
 35  umpire1           30764 non-null  object
 36  umpire2           30764 non-null  object
 37  umpire3           0 non-null      object
dtypes: float64(11), int64(6), object(21)
memory usage: 9.2+ MB

In [17]:
matches.set_index("id",inplace=True)

In [18]:
matches.head()

    season       city        date  ...         umpire1        umpire2 umpire3
id                                 ...
1     2017  Hyderabad  2017-04-05  ...     AY Dandekar       NJ Llong     NaN
2     2017       Pune  2017-04-06  ...  A Nand Kishore         S Ravi     NaN
3     2017     Rajkot  2017-04-07  ...     Nitin Menon      CK Nandan     NaN
4     2017     Indore  2017-04-08  ...    AK Chaudhary  C Shamshuddin     NaN
5     2017  Bangalore  2017-04-08  ...             NaN            NaN     NaN

[5 rows x 17 columns]

In [19]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 756 entries, 1 to 11415
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           756 non-null    int64
 1   city             749 non-null    object
 2   date             756 non-null    object
 3   team1            756 non-null    object
 4   team2            756 non-null    object
 5   toss_winner      756 non-null    object
 6   toss_decision    756 non-null    object
 7   result           756 non-null    object
 8   dl_applied       756 non-null    int64
 9   winner           752 non-null    object
 10  win_by_runs      756 non-null    int64
 11  win_by_wickets   756 non-null    int64
 12  player_of_match  752 non-null    object
 13  venue            756 non-null    object
 14  umpire1          754 non-null    object
 15  umpire2          754 non-null    object
 16  umpire3          119 non-null    object
dtypes: int64(4), object(13)
memory usage: 106.3+ KB

In [21]:
 matches.describe(include='all')

             season    city  ...        umpire2        umpire3
count    756.000000     749  ...            754            119
unique          NaN      32  ...             65             25
top             NaN  Mumbai  ...  C Shamshuddin  C Shamshuddin
freq            NaN     101  ...             57             10
mean    2013.444444     NaN  ...            NaN            NaN
std        3.366895     NaN  ...            NaN            NaN
min     2008.000000     NaN  ...            NaN            NaN
25%     2011.000000     NaN  ...            NaN            NaN
50%     2013.000000     NaN  ...            NaN            NaN
75%     2016.000000     NaN  ...            NaN            NaN
max     2019.000000     NaN  ...            NaN            NaN

[11 rows x 17 columns]

In [32]:
matches[pd.isnull(matches["city"])]

     season city        date  ...          umpire1         umpire2 umpire3
id                            ...
462    2014  NaN  2014-04-19  ...        Aleem Dar    AK Chaudhary     NaN
463    2014  NaN  2014-04-19  ...        Aleem Dar     VA Kulkarni     NaN
467    2014  NaN  2014-04-23  ...  HDPK Dharmasena  RK Illingworth     NaN
469    2014  NaN  2014-04-25  ...        M Erasmus          S Ravi     NaN
470    2014  NaN  2014-04-25  ...        BF Bowden       M Erasmus     NaN
475    2014  NaN  2014-04-28  ...        BF Bowden          S Ravi     NaN
477    2014  NaN  2014-04-30  ...  HDPK Dharmasena       M Erasmus     NaN

[7 rows x 17 columns]

In [33]:
matches["city"].fillna("Dubai",inplace=True)
matches

       season           city  ...         umpire2                  umpire3
id                            ...
1        2017      Hyderabad  ...        NJ Llong                      NaN
2        2017           Pune  ...          S Ravi                      NaN
3        2017         Rajkot  ...       CK Nandan                      NaN
4        2017         Indore  ...   C Shamshuddin                      NaN
5        2017      Bangalore  ...             NaN                      NaN
...       ...            ...  ...             ...                      ...
11347    2019         Mumbai  ...        O Nandan                   S Ravi
11412    2019        Chennai  ...     Nitin Menon                Ian Gould
11413    2019  Visakhapatnam  ...             NaN                      NaN
11414    2019  Visakhapatnam  ...  Bruce Oxenford  Chettithody Shamshuddin
11415    2019      Hyderabad  ...       Ian Gould              Nigel Llong

[756 rows x 17 columns]

In [34]:
matches.describe(include='all')

             season    city  ...        umpire2        umpire3
count    756.000000     756  ...            754            119
unique          NaN      33  ...             65             25
top             NaN  Mumbai  ...  C Shamshuddin  C Shamshuddin
freq            NaN     101  ...             57             10
mean    2013.444444     NaN  ...            NaN            NaN
std        3.366895     NaN  ...            NaN            NaN
min     2008.000000     NaN  ...            NaN            NaN
25%     2011.000000     NaN  ...            NaN            NaN
50%     2013.000000     NaN  ...            NaN            NaN
75%     2016.000000     NaN  ...            NaN            NaN
max     2019.000000     NaN  ...            NaN            NaN

[11 rows x 17 columns]

In [38]:
matches[["city","venue"]]

                city                                      venue
id
1          Hyderabad  Rajiv Gandhi International Stadium, Uppal
2               Pune    Maharashtra Cricket Association Stadium
3             Rajkot     Saurashtra Cricket Association Stadium
4             Indore                     Holkar Cricket Stadium
5          Bangalore                      M Chinnaswamy Stadium
...              ...                                        ...
11347         Mumbai                           Wankhede Stadium
11412        Chennai                  M. A. Chidambaram Stadium
11413  Visakhapatnam                           ACA-VDCA Stadium
11414  Visakhapatnam                           ACA-VDCA Stadium
11415      Hyderabad         Rajiv Gandhi Intl. Cricket Stadium

[756 rows x 2 columns]